:root {
  --bgc0: #1a1a1a;
  --bgc1: #202225;
  --bgc2: #2F3136;
  --bgc3: #36393F;
  --bgc4: #484c54;
  --bgc-bright0: #e6e6e6;
  --bgc-bright1: #eeeeee;
  --bgc-bright2: #77ade2;
  --font-dark: #262b32;
  --font-bright: white;
  --font-normal: #c0c1c4;
  --font-dimm:   gray;
}